/* RESET DEFAULT STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    font-family: "Roboto", sans-serif;
    background-color: #111;
}

/* CONTAINER */
.container {
    min-width: 600px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    background: linear-gradient(to top, #000, #555);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(156, 53, 154, 0.5);
    margin-top: 40px;
    padding: 40px;
}
.container h1 {
    font-size: 2.2em;
    text-transform: uppercase;
}
.container input {
    flex: 3;
    padding: 15px;
    border: none;
    border-radius: 10px;
}
.container input[type="text"] {
    width: 300px;
    padding: 15px;
}

/* INPUT AND BUTTON FOR THE FUNCTIONS */
.amount-wrapper {
    width: 300px;
    display: grid;
    gap: 10px;
}
.amount-wrapper button {
    flex: 1;
    background-color: #9c359a;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.amount-wrapper button:hover {
    background-color: #4774b3;
}

/* ACTION BUTTONS */
.action-buttons {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.action-buttons button {
    background-color: #fff;
    font-weight: 600;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.action-buttons button:hover {
    background-color: #9c359a;
    color: #fff;
}

/* BALANCE TEXT */
.balance-text {
    font-size: 1.2em;
    margin-top: 20px;
}
.balance-text span {
    font-weight: 600;
}

/* TO HIDDE ITEMS */
.hidden {
    display: none;
}

/* WHEN PIN IS INCORRECT (3 ATTEMPS) */
.block {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #d63a3a;
    color: #fff;
    font-size: 1.2em;
}
/* WHEN USER LOGS OUT */
.logout {
    height: 100vh;
    display: grid;
    place-items: center;
    gap: 40px;
    background: #222;
    color: #fff;
    font-size: 1.2em;
}
.logout button {
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
    font-weight: 600;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.logout button:hover {
    background-color: #762ac2;
    color: #fff;
}
